.container {
  padding: 0;
  margin: 0;
  background: rgb(75, 127, 82);
  min-height: 100vh;
  flex-direction: column;
}

.title {
  background-color: none;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  color: rgb(206, 233, 208);
  border-bottom: solid;
  margin-bottom: 2rem;
}

.tray {
  margin: 1rem;
  padding: 1rem;
}

.trayelement {
  margin-bottom: 1rem;
  padding: 0.3rem;
  border: solid;
  border-radius: 0.5rem;
  border-color: rgb(206, 233, 208);
  color: rgb(206, 233, 208);
  display: flex;
  flex-direction: column;
}

.trayelementblob {
  margin-bottom: 1rem;
  padding: 0.3rem;
  border: solid;
  border-radius: 0.5rem;
  border-color: rgb(206, 233, 208);
  color: rgb(206, 233, 208);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.trayelementblob2 {
  margin-bottom: 1rem;
  padding: 0.3rem;
  border: solid;
  border-radius: 0.5rem;
  border-color: rgb(206, 233, 208);
  color: rgb(206, 233, 208);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 4rem;
  right: 1rem;
}

.featurebutton {
  background-color: none;
  color: white;
}

.actionbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(75, 127, 82);
}

.popContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 30%;
  max-height: 70%;
  width: 90%;
  border: solid;
  border-radius: 1rem;
  border-color: white;
  background-color: #ffffff;
  opacity: 1;
  background-image: linear-gradient(
      135deg,
      rgba(206, 233, 208, 1) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, rgba(206, 233, 208, 1) 25%, transparent 25%),
    linear-gradient(45deg, rgba(206, 233, 208, 1) 25%, transparent 25%),
    linear-gradient(315deg, rgba(206, 233, 208, 1) 25%, #ffffff 25%);
  background-position: 34px 0, 34px 0, 0 0, 0 0;
  background-size: 68px 68px;
  background-repeat: repeat;
  overflow: scroll;
}

.lineDisplay {
  flex-direction: row;
  justify-content: space-between;
}

.construCard {
  width: 40%;
  border: solid;
  border-radius: 1rem;
  padding: 1rem;
  min-height: 13rem;
  margin-top: 1rem;
}

.construRow {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.lineText {
  font-size: 15px;
}

.inputLine {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
